<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/sign_form.css">
</head>
<body>
<div class="wrapper">

    <div th:if="${param.error}" class="error">Неправильні логін або пароль!</div>
    <div th:if="${param.access}" class="error">Не вистачає прав!</div>
    <h2>Увійдіть до акаунту</h2>
    <form name="f" th:action="@{/login}" method="post">
        <label>Логін
            <input type="text" placeholder="Логін" name="username" id="username"
                   onkeyup="copyUsername()" required="required"> </label>
        <label>Пароль
            <input type="password"
                   placeholder="Пароль" name="password" required="required">
        </label>
        <button type="submit">Увійти</button>
    </form>
    <form action="/psw_forgot" method="post">
        <input type="hidden" name="username" id="copy_username">
        <input type="submit" value="Забув пароль">
    </form>
    <div><a href="/signup">Немає акаунту? Зареєструйтесь</a></div>
</div>
<script>
    function copyUsername() {
        let username = document.getElementById('username')
        let copy_username = document.getElementById('copy_username')
        copy_username.value = username.value
    }
</script>
</body>
</html>