<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/sign_form.css">
</head>
<body>
<div class="wrapper">

    <div th:if="${param.error}" class="error">Invalid credentials!</div>
    <div th:if="${param.access}" class="error">Access denied!</div>
    <h2>Please sign in</h2>
    <form name="f" th:action="@{/login}" method="post">

        <label>Username
            <input type="text" placeholder="Enter Username" name="username" id="username"
                   onkeyup="copyUsername()" required="required"> </label>
        <label>Password
            <input type="password"
                   placeholder="Enter Password" name="password" required="required">
        </label>
        <button type="submit">Login</button>
    </form>
    <form action="/psw_forgot" method="post">
        <input type="hidden" name="username" id="copy_username">
        <input type="submit" value="Forgot password">
    </form>
    <div><a href="/signup">Do you have no account? Sign up</a></div>
</div>
<script>
    function copyUsername() {
        let username = document.getElementById('username')
        let copy_username = document.getElementById('copy_username')
        copy_username.value = username.value
    }

    function sendPostRequest() {
        let xhr = new XMLHttpRequest()
        let url = '/psw_forgot'
        xhr.open('POST', url, true)
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.onload = function () {
            console.log(this.responseText)
        }
        xhr.send(document.getElementById('username').value)
    }
</script>
</body>
</html>