<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/sign_form.css">
</head>
<body>
<div class="wrapper">

    <div th:if="${param.error}" class="error">Неверные логин или пароль!</div>
    <div th:if="${param.access}" class="error">Нет прав доступа!</div>
    <h2>Войдите в аккаунт</h2>
    <form name="f" th:action="@{/login}" method="post">

        <label>Логин
            <input type="text" placeholder="Логин" name="username" id="username"
                   onkeyup="copyUsername()" required="required"> </label>
        <label>Пароль
            <input type="password"
                   placeholder="Пароль" name="password" required="required">
        </label>
        <button type="submit">Войти</button>
    </form>
    <form action="/psw_forgot" method="post">
        <input type="hidden" name="username" id="copy_username">
        <input type="submit" value="Забыл пароль">
    </form>
    <div><a href="/signup">Нет аккаунта? Зарегистрируйтесь</a></div>
</div>
<script>
    function copyUsername() {
        let username = document.getElementById('username')
        let copy_username = document.getElementById('copy_username')
        copy_username.value = username.value
    }
</script>
</body>
</html>