<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/sign_form.css">
</head>
<body>

<div class="wrapper">
    <form id="signup_form" th:object="${user}" th:action="@{/signup}" method="post">
        <div id="error" class="error">
            <span th:if="${username_exists}" th:text="${username_exists}"></span>
        </div>

        <h2>Please sign up</h2>
        <div>Username
            <input type="text" th:field="*{username}"
                   id="username"
                   placeholder="Letters, digits, _"
                   pattern="[a-zA-Z0-9_]+">
            <span id="username_msg"></span>
        </div>
        <div>Password
            <input type="password" th:field="*{password}"
                   id="password"
                   pattern="[a-zA-Z0-9]{8,}"
                   placeholder="At least 8 letters or digits">
            <span id="password_msg"></span>
        </div>
        <div>Confirm password
            <input type="password"
                   id="confirm_password"
                   pattern="[a-zA-Z0-9]{8,}"
                   placeholder="At least 8 letters or digits">
            <span id="confirm_msg"></span>
        </div>
        <div>Email
            <input type="email" placeholder="example@mail.com" th:field="*{email}" id="email">
        </div>
        <button type="button" value="Sign up" onclick="return submitForm()">Sign Up</button>
        <a href="/login">Do you have an account? Sign in</a>
    </form>
</div>
<script type="application/javascript" src="js/signup.js"></script>
</body>
</html>