<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/sign_form.css">
</head>
<body>

<div class="wrapper">
    <form id="signup_form" th:object="${user}" th:action="@{/signup}" method="post">
        <div id="error" class="error">
            <span th:if="${username_exists}" th:text="${username_exists}"></span>
        </div>
        <h4>Реєстрація</h4>
        <div>Логін
            <input type="text" th:field="*{username}"
                   id="username"
                   placeholder="Букви та цифри"
                   pattern="[a-zA-Z0-9_]+">
            <span id="username_msg"></span>
        </div>
        <div>Пароль
            <input type="password" th:field="*{password}"
                   id="password"
                   pattern="[a-zA-Z0-9]{8,}"
                   placeholder="Букви та цифри (не менше 8)">
            <span id="password_msg"></span>
        </div>
        <div>Підтвердіть пароль
            <input type="password"
                   id="confirm_password"
                   pattern="[a-zA-Z0-9]{8,}"
                   placeholder="Букви та цифри (не менше 8)">
            <span id="confirm_msg"></span>
        </div>
        <div>Електронна пошта
            <input type="email" placeholder="example@mail.com" th:field="*{email}" id="email">
        </div>
        <div>
            <input type="hidden" name="url" id="url">
        </div>
        <button type="button" value="Зареєструватись" onclick="return submitForm()">Зареєструватись</button>
        <a href="/login">Вже маєте акаунт? Увійдіть</a>
    </form>
</div>
<script type="application/javascript" src="js/signup.js"></script>
</body>
</html>