<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/content_form.css">
</head>
<body>
<div>
    <form th:action="@{/events/add}" th:name="event" method="post">
        <h1>Create new event</h1>
        <p>
            <input type="text" th:name="title" placeholder="Title"
                   autofocus="autofocus" required>
        <p>
				<textarea rows="10" cols="20" wrap="hard" th:name="description"
                          placeholder="Description" required></textarea>
        <p>
            <input type="submit" value="Create" class="button"
                   onclick="return checkForm()">
    </form>
</div>
</body>
</html>