<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/content_form.css">
</head>
<body>
<div class="page">
    <div class="header">
        <div>
            <a th:href="@{/events/{id}(id=${event.id})}" onclick="return confirm('Return to event?')">Back</a>
            <h1>Измените событие</h1>
        </div>
    </div>

    <form th:action="@{/events/change}" th:object="${event}" method="post"
          style="width:100%" onsubmit="return confirm('Apply changes?')">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" name="cr_date" th:value="${createdDate}">
        <input type="hidden" name="l_mod_date" th:value="${lastModifiedDate}">
        <div>
            Название:
            <input type="text" th:field="*{title}"
                   autofocus="autofocus">
        </div>
        <div>
            Дата события: <input type="datetime-local" name="date" th:value="*{eventDate}">
        </div>
        <div>
            Описание события:
            <textarea rows="10" cols="20" wrap="hard" th:field="*{description}"></textarea>
        </div>
        <input type="submit" value="Сохранить" class="button"
               onclick="return checkForm()">
    </form>
</div>
<script type="text/javascript" src="js/check_form.js"></script>
</body>
</html>