<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
<div th:insert="fragments::topnav">
</div>
<div class="page" style="margin-top: 80px">
    <div class="header">
        <div>
            <div>
                <a href="/events/all">Back</a>
            </div>
            <div id="event_id" th:text="${event.id}" style="display: none"></div>
            <h1 th:text="${event.title}"></h1>
            <div th:if="${subscribed}">You are subscribed on this event</div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
            <button class="dropbtn">Actions <i class="fa fa-bars"> </i></button>
            <div class="dropdown-content" style="width: 100%">
                <a th:href="@{/events/edit/{id}(id=${event.id})}">
                    Edit
                </a>
                <form id="do_edit" th:action="@{/events/delete/{id}(id=${event.id})}" method="post">
                    <a onclick="if(confirm('Delete this event?'))document.getElementById('do_edit').submit();">
                        Delete
                    </a>
                </form>
            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')" th:unless="${subscribed}">
            <button id="subscribe_btn" class="btn1" onclick="getSubscription()">Subscribe <i class="fa fa-check"></i>
            </button>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')" th:if="${subscribed}">
            <form th:action="@{/events/{id}/unsubscribe(id=${event.id})}" onsubmit="return confirm('unsubscribe?')"
                  method="post">
                <button class="btn1" type="submit">Unsubscribe</button>
            </form>
        </div>
    </div>
    <div class="column_block" style="width: 100%">
        <textarea class="text" th:text="${event.description}" readonly="readonly"></textarea>
        <div>
            Created at:
            <span th:text="${event.createdDate.toLocalDate()}"></span>,
            <span th:text="${event.createdDate.toLocalTime()}"></span>
        </div>
        <div>
            Last modified at:
            <span th:text="${event.lastModifiedDate.toLocalDate()}"></span>,
            <span th:text="${event.lastModifiedDate.toLocalTime()}"></span>
        </div>
        <div>
            Event date:
            <span th:text="${event.eventDate.toLocalDate()}"></span>,
            <span th:text="${event.eventDate.toLocalTime()}"></span>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" id="admin_div">
            <h2>Subscribers</h2>
            <table cellpadding="0">
                <thead>
                <th>Username</th>
                <th>Name</th>
                <th>University</th>
                <th>Subscribed at</th>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
</div>
<script type="text/javascript" src="/js/loadSubscriptions.js">
</script>
<script type="text/javascript" , src="/js/event.js">
</script>
</body>

</html>