<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
<div th:insert="fragments::topnav">
</div>
<div class="page" style="margin-top: 80px">
    <div class="header">
        <div class="row_block">
            <div>
                <h1>Events list</h1>
            </div>
            <div class="menu">
                <div sec:authorize="hasRole('ROLE_ADMIN')"><a href="/events/create">Create new event</a></div>
            </div>
        </div>
        <div class="search-container">
            <form action="/events/search">
                <input name="word" type="text" placeholder="Search.." autofocus="autofocus">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="items">
        <div class="item" th:each="event : ${events}">
            <div class="top">
                <div style="align-self: flex-start;">
                    </span> <span th:text="${event.title}"></span>
                </div>
            </div>
            <div>
                Created at:
                <span th:text="${event.createdDate.toLocalDate()}"></span>,
                <span th:text="${event.createdDate.toLocalTime()}"></span>
            </div>
            <div>
                Last modified at:
                <span th:text="${event.lastModifiedDate.toLocalDate()}"></span>,
                <span th:text="${event.lastModifiedDate.toLocalTime()}"></span>
            </div>
            <div>
                Event date:
                <span th:text="${event.eventDate.toLocalDate()}"></span>,
                <span th:text="${event.eventDate.toLocalTime()}"></span>
            </div>
            <div>
                <textarea class="text" th:text="${event.description}" readonly="readonly" rows="6"></textarea>
            </div>
            <div>
                <a th:href="@{/events/{id}(id=${event.id})}">Go to event</a>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <span th:text="${subscriptionRepo.findByEventId(event.id).size()}"></span>
                <span> subscribed users</span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function search() {
        document.getElementById("search-note").submit()
    }
</script>
</body>

</html>