<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/sign_form.css">
</head>
<body>

<div class="form_wrapper">
    <form action="/profile/psw_change" method="post"
          onsubmit="return check()">
        <div id="error" class="error">
            <span th:if="${error}" th:text="${error}"></span>
        </div>

        <h2>Reset your password</h2>
        <div>Old password
            <input type="password" name="oldPassword"
                   pattern="[a-zA-Z0-9]{8,}"
                   placeholder="Your old password"
                   required="required">
        </div>
        <div>New password
            <input type="password" name="newPassword"
                   id="newPassword"
                   pattern="[a-zA-Z0-9]{8,}"
                   placeholder="At least 8 letters or digits"
                   required="required">
        </div>
        <div>Confirm new password
            <input type="password"
                   id="confirmPassword"
                   pattern="[a-zA-Z0-9]{8,}"
                   placeholder="Confirm new password"
                   required="required">
        </div>
        <button type="submit" value="Apply">Apply</button>
        <a href="/profile">Back to profile</a>
    </form>
</div>
<script>
    function check() {
        let new_password = document.getElementById('newPassword').value
        let confirm_passsword = document.getElementById('confirmPassword').value
        let msg = document.getElementById('error')
        msg.innerText = ''

        if (new_password != confirm_passsword) {
            msg.innerHTML = 'Confirm password does not match!'
            return false
        } else {
            msg.innerText = ''
            return true
        }
    }
</script>
<script type="application/javascript" src="js/register.js"></script>
</body>
</html>