<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/sign_form.css">
    <link rel="stylesheet" href="/styles/selectbox.css">
</head>
<body>
<div class="wrapper">
    <div id="error" class="error">
    </div>
    <a href="/profile" onclick="return confirm('Return to profile?')" style="align-self: flex-start">Back</a>
    <h2>Edit your profile info, <span th:text="${username}"></span></h2>
    <form id="profile_form" th:object="${profile}" action="/profile/edit" method="post"
          enctype="multipart/form-data"
          onsubmit="return check();">
        <input type="number" th:field="*{id}" hidden>
        <input type="hidden" th:field="*{university}">
        <div>Name:
            <input type="text" th:field="*{name}"
                   id="name"
                   placeholder="Name"
                   pattern="[a-zA-ZА-Яа-яЁё ]+"
                   required="required">
        </div>
        <div>
            City
            <div id="citySelectBox" class="select-box">
                <div id="cityOptionsContainer" class="options-container">
                </div>
                <div id="citySelected" class="selected">
                    Select city
                </div>
                <div class="search-box">
                    <input type="text" class="search-field" placeholder="Start typing...">
                </div>
                <input type="hidden" name="cityName" id="cityName" th:value="${cityName}">
                <input type="hidden" name="cityId" id="cityId">
            </div>
        </div>
        <div>
            University
            <div id="universitySelectBox" class="select-box">
                <div id="universityOptionsContainer" class="options-container">
                </div>
                <div id="universitySelected" class="selected">
                    Select university
                </div>
                <div class="search-box">
                    <input type="text" class="search-field" placeholder="Start typing...">
                </div>
                <input type="hidden" name="universityName" id="universityName" th:value="${universityName}">
                <input type="hidden" name="universityId" id="universityId">
            </div>
        </div>
        <div>
            <label> Age <input type="number" th:field="*{age}" min="1" max="150"
                               required="required">
            </label>
        </div>
        <div>
            Gender:
            Male <input id="m" type="radio" th:field="*{gender}" value="male" required>
            Female <input id="f" type="radio" th:field="*{gender}" value="female" required>
        </div>
        <label>
            Select image
            <input type="file" name="imageFile">
        </label>
        <input type="hidden" th:field="*{image}">
        <button type="submit">Apply</button>
    </form>
</div>
<script type="application/javascript" src="/js/selectUniversity.js"></script>
<script type="application/javascript" src="/js/selectbox.js"></script>
<script>
    function check() {
        let city = document.getElementById("cityName").value
        let university = document.getElementById("universityName").value

        if (!city) {
            alert("Enter your city")
            return false
        } else if (!university) {
            alert("Enter your university!")
            return false
        } else {

            return confirm('Submit data?')
        }
    }

    function checkPressedButton(event) {
        if (event.which == 13 || event.keyCode == 13) {
            //code to execute here
            return false;
        }
        return true;
    }
</script>
</body>
</html>