<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
<div th:insert="fragments::topnav">
</div>
<div class="page">
    <div class="header">
        <div>
            <h1>Участники</h1>
        </div>
        <div>
            <div class="search-container">
                <input id="search" type="text" placeholder="Search.." autofocus="autofocus"
                       onchange="search()">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <table>
        <thead>
        <td>Логин</td>
        <td>Почта</td>
        <td>Имя</td>
        <td>Университет</td>
        <td>Город</td>
        </thead>
        <tbody id="users">

        </tbody>
    </table>
</div>
<script type="text/javascript" src="/js/users.js"></script>
<script type="text/javascript">
    async function search() {
        let word = document.getElementById("search").value
        await fillUsers(word)
    }
</script>
<div th:insert="fragments::scripts"></div>

</body>

</html>