<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="/styles/users.css">
</head>
<body>
	<div class="my_block">
		<h1>User Info</h1>
		<p>
			Name: <span th:text="${user.name}"></span>
		<p>
			Age: <span th:text="${user.age}"></span>
		<p>
			Gender: <span th:text="${user.gender}"></span>
		<p>
			<a th:href="@{/users/all}">Back to users list</a>
	</div>
</body>
</html>