<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments::headerfiles">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header th:replace="fragments::topnav">
    </header>
    <div th:replace="fragments::sidenav">
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="page">
                <div class="header">
                    <h4>События</h4>
                    <div class="row_block">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="field">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input" name="word" onchange="search()" type="text"
                                       id="field">
                                <label class="mdl-textfield__label" for="field">Expandable Input</label>
                            </div>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                            <button class="dropbtn">
                                Действия
                            </button>
                            <div class="dropdown-content">
                                <a href="#eventPopup">
                                    Создать событие
                                </a>
                                <a href="#">
                                    Тут будут другие
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="events" class="items"></div>
            </div>
        </div>
    </main>
</div>
<div th:insert="fragments::eventPopup"></div>
<div th:insert="fragments::scripts"></div>
<script type="text/javascript" src="/js/eventsPage.js"></script>
<script type="text/javascript" src="/js/eventPopup.js"></script>
<script type="text/javascript">
    popupHeader.innerText = "Создайте новое событие"
    applyButton.innerText = "Создать"
</script>
</body>

</html>