<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments::headerfiles">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header th:replace="fragments::topnav">
    </header>
    <div th:replace="fragments::sidenav">
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="page">
                <h3 th:text="${message}"></h3>
                <h4>Это домашняя страница</h4>
                <div>
                    Здесь будет длинная и познавательная инструкция,
                    как пользоваться этим чудесным сайтом
                </div>
                <div>
                    <img src="/img/student.jpg">
                </div>
            </div>
        </div>
    </main>
</div>

<div th:insert="fragments::scripts"></div>
</body>
</html>