<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments::headerfiles">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header th:replace="fragments::topnav">
    </header>
    <div th:replace="fragments::sidenav">
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="page">
                <div class="row_block" style="width: 100%; justify-content: space-around">
                    <div>
                        Щоб прийняти участь в заході, виконайте наступні кроки:
                        <ol>
                            <li>
                                <a href="/signup">Зареєструйтеся</a> чи
                                <a href="/login">увійдіть до акаунту</a>
                            </li>
                            <li>
                                Підтвердіть поштову адресу
                            </li>
                            <li>
                                Заповніть необхідну інформацію
                                <a href="/profile">профіля</a>
                            </li>
                            <li>
                                Перейдіть до вкладки
                                <a href="/events">"Події"</a>
                            </li>
                            <li>
                                Перейдіть до активної події та натисніть кнопку "Підписатися"
                            </li>
                            <li>
                                Чекайте від нас листа з інформацією про подію
                            </li>
                        </ol>
                    </div>
                    <div>
                        <img style="width: 300px" src="/img/khpi.png">
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div th:insert="fragments::scripts"></div>
</body>
</html>