<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments::headerfiles">
</head>
<head>
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header th:replace="fragments::topnav">
    </header>
    <div th:replace="fragments::sidenav">
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="page">
                <div class="header">
                    <div>
                        <h4>Профіль учасника <span th:text="${user.username}"></span></h4>
                    </div>
                    <div class="dropdown" sec:authorize="hasRole('ROLE_USER')">
                        <button class="dropbtn">Змінити</button>
                        <div class="dropdown-content">
                            <a href="#profilePopup">Профіль</a>
                            <a href="#passwordPopup">Пароль</a>
                        </div>
                    </div>
                    <div class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button class="dropbtn">Опції</button>
                        <div class="dropdown-content">
                            <a href="#">Тут будуть опції</a>
                        </div>
                    </div>
                </div>
                <div class="row_block" style="width: 100%">
                    <div class="img_wrap">
                        <img id="image" src="/img/profile.png">
                    </div>
                    <div class="column_block card_block" style="justify-content: space-between">
                        <div>
                            <div id="id" th:text="${user.id}" style="display: none"></div>
                            <div id="username"></div>
                            <div id="email"></div>
                            <hr>
                            <div th:if="${user.ready}">
                                <div id="name"></div>
                                <div>
                                    <span id="secondName"></span>
                                    <span id="firstName"></span>
                                    <span id="patronymicName"></span>
                                </div>
                                <div id="phoneNumber"></div>
                                <div>Курс: <span id="courseNumber"></span></div>
                                <div id="university"></div>
                                <div id="city"></div>
                                <div id="gender" style="display: none"></div>
                                <div>Вік: <span id="age"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column_block" style="width: 100%">
                    <table class="mdl-data-table">
                        <thead>
                        <th>Подія</th>
                        <th>Дата</th>
                        </thead>
                        <tbody>
                        <tr th:each="event:${user.events}">
                            <td>
                                <a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.title}"></a>
                            </td>
                            <td th:text="${event.eventDate.toLocalDate()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<div id="profilePopup" class="popup">
    <a href="##" class="popup__area"></a>
    <div class="popup__body">
        <div class="popup__content">
            <a href="##" class="popup__close"><i class="material-icons">cancel</i></a>
            <h4>Заповніть інформацію профіля</h4>
            <div class="inputs">
                <div>Фамілія:
                    <input type="text"
                           id="secondNameField"
                           name="secondName"
                           placeholder="Іванов"
                           pattern="[a-zA-ZА-Яа-яЁё ]+">
                </div>
                <div>Ім'я:
                    <input type="text"
                           id="firstNameField"
                           placeholder="Іван"
                           pattern="[a-zA-ZА-Яа-яЁё ]+">
                </div>
                <div>По-батькові:
                    <input type="text"
                           id="patronymicNameField"
                           placeholder="Іванивич"
                           pattern="[a-zA-ZА-Яа-яЁё ]+">
                </div>
                <div>Мобільний телефон::
                    <input type="text"
                           id="phoneNumberField"
                           placeholder="+380971234567"
                           pattern="[a-zA-ZА-Яа-яЁё ]+">
                </div>
                <div>
                    Місто
                    <div id="citySelectBox" class="select-box">
                        <div id="cityOptionsContainer" class="options-container">
                        </div>
                        <div id="citySelected" class="selected">
                            Обрати місто
                        </div>
                        <div class="search-box">
                            <input type="text" class="search-field" placeholder="Ввести...">
                        </div>
                        <input type="hidden" name="cityName" id="cityName">
                        <input type="hidden" name="cityId" id="cityId">
                    </div>
                </div>
                <div>
                    ВНЗ
                    <div id="universitySelectBox" class="select-box">
                        <div id="universityOptionsContainer" class="options-container">
                        </div>
                        <div id="universitySelected" class="selected">
                            Обрати ВНЗ
                        </div>
                        <div class="search-box">
                            <input type="text" class="search-field" placeholder="Ввести...">
                        </div>
                        <input type="hidden" name="universityName" id="universityName">
                        <input type="hidden" name="universityId" id="universityId">
                    </div>
                </div>
                <div class="row_block" style="justify-content: space-around">
                    <div>
                        Курс
                        <select id="courseNumberField">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                    <div>
                        Вік <input type="number" id="ageField" min="1" max="150">
                    </div>
                    <div>Стать:
                        <input id="m" type="radio" name="gender" value="male" required> Чол
                        <input id="f" type="radio" name="gender" value="female" required> Жін
                    </div>
                </div>
                <div class="row_block" style="justify-content: space-between">
                    <div>
                        Обрати зображення:
                        <input type="file" name="image" id="imageField"/>
                    </div>
                </div>
                <button type="submit" class="btn1 blue">Зберегти</button>
            </div>
        </div>
    </div>
</div>
<div id="passwordPopup" class="popup">
    <a href="##" class="popup__area"></a>
    <div class="popup__body">
        <div class="popup__content">
            <a href="##" class="popup__close"><i class="material-icons">cancel</i></a>
            <h4>Змінити пароль</h4>
            <div class="inputs">
                <div>Старий пароль
                    <input type="password"
                           id="oldPassword"
                           pattern="[a-zA-Z0-9]{8,}"
                           placeholder="Ваш старий пароль"
                           required="required">
                </div>
                <div>Новий пароль
                    <input type="password"
                           id="newPassword"
                           pattern="[a-zA-Z0-9]{8,}"
                           placeholder="Символи та цифри (не менше 8)"
                           required="required">
                </div>
                <div>Підтвердіть новий пароль
                    <input type="password"
                           id="confirmPassword"
                           pattern="[a-zA-Z0-9]{8,}"
                           placeholder="Символи та цифри (не менше 8)"
                           required="required">
                </div>
                <div>
                    <button type="submit" class="btn1 blue" onclick="changePassword()">Зберегти</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments::scripts"></div>
<script type="text/javascript" src="/js/profilePage.js"></script>
<script type="application/javascript" src="/js/selectUniversity.js"></script>
<script type="application/javascript" src="/js/selectbox.js"></script>
</body>
</html>