<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments::headerfiles">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header th:replace="fragments::topnav">
    </header>
    <div th:replace="fragments::sidenav">
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="page">
                <div class="header">
                    <div class="row_block ">
                        <h5 style="margin-right: 20px">Учасники</h5>
                        <div class="column_block">
                            <label for="option-1">
                                <input type="radio" id="option-1" class="mdl-radio__button"
                                       name="options" value="all"
                                       checked>
                                <span class="mdl-radio__label">Усі</span>
                            </label>
                            <label for="option-2">
                                <input type="radio" id="option-2" class="mdl-radio__button"
                                       name="options" value="ready">
                                <span class="mdl-radio__label">Заповнили профіль</span>
                            </label>
                            <label for="option-2">
                                <input type="radio" id="option-3" class="mdl-radio__button"
                                       name="options" value="not_ready">
                                <span class="mdl-radio__label">Не заповнили профіль</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="field">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input" onchange="search()" type="text" id="field">
                                <label class="mdl-textfield__label" for="field">Expandable Input</label>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">Опції</button>
                            <div class="dropdown-content">
                                <a href="#emailPopup" class="popup__link">Розсилка</a>
                            </div>
                        </div>
                    </div>


                </div>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <th>Логин</th>
                    <th>Почта</th>
                    <th>Имя</th>
                    <th>Университет</th>
                    <th>Город</th>
                    </thead>
                    <tbody id="users">

                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<div th:insert="fragments::emailPopup"></div>
<div th:insert="fragments::scripts"></div>
<script type="text/javascript" src="/js/users.js"></script>
<script type="text/javascript">
    onLoadUsersPage()
</script>
<script type="text/javascript" src="/js/emailPopup.js"></script>

</body>
</html>