<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create new note</title>
<link rel="stylesheet" href="/styles/cnt.css">
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
	<div class="cnt">
		<form th:action="@{/notes/add}" th:name="note" method="post">
			<h1>Create new note</h1>
			<p>
				<input type="text" th:name="label" placeholder="Label"
					autofocus="autofocus">
			<p>
				<textarea rows="10" cols="20" wrap="hard" th:name="message"
					placeholder="Enter your message"></textarea>
			<p>
				<input type="submit" value="Create" class="button"
					onclick="return checkForm()">
		</form>
	</div>
	<script type="text/javascript" src="js/check_form.js"></script>
</body>
</html>