<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit note</title>
<link rel="stylesheet" href="/styles/cnt.css">
<link rel="stylesheet" href="/styles/form.css">

</head>
<body>
	<div class="cnt">
		<form th:action="@{/notes/change}" th:name="note" method="post">
			<h1>Edit note</h1>
			<input type="hidden" th:name="id" th:value="${note.id}">
			<p>
				<input type="text" th:name="label" th:value="${note.label}"
					autofocus="autofocus">
			<p>
				<textarea rows="10" cols="20" wrap="hard" th:name="message"
					th:text="${note.message}"></textarea>
			<p>
				<input type="submit" value="Apply" class="button"
					onclick="return checkForm()">
		</form>
	</div>
	<script type="text/javascript" src="js/check_form.js"></script>
</body>
</html>