<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>KhPI</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </script>
</head>
<body>

<div class="topnav" th:fragment="topnav">
    <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-bars"> Menu</i></button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/events/all">Events</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/users/all">Users</a>
        </div>
    </div>

    <div class="row_block">
        <a sec:authorize="isAnonymous()" href="/login">Login</a>
        <a sec:authorize="isAnonymous()" href="/signup">Sign Up</a>
        <a sec:authorize="isAuthenticated()" href="/profile">
            <i class="fa fa-user"></i> Profile
        </a>
        <a onclick="return confirm('Logout?')"
           sec:authorize="isAuthenticated()" href="/logout">Logout</a>
    </div>
</div>
</body>
</html>