<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>KhPI</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/dropdown.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </script>
</head>
<body>

<div class="topnav" th:fragment="topnav">
    <div class="dropdown">
        <button class="dropbtn">Меню</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="/">Главная</a>
            <a href="/events/all">События</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/users">Участники</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" href="/email">Рассылка</a>
        </div>
    </div>
    <div class="row_block">
        <a sec:authorize="isAnonymous()" href="/login">Войти</a>
        <a sec:authorize="isAnonymous()" href="/signup">Регистрация</a>
        <a sec:authorize="hasRole('ROLE_USER')" href="/profile">
            <i class="fa fa-user"></i> Профиль
        </a>
        <a onclick="return confirm('Выйти?')"
           sec:authorize="isAuthenticated()" href="/logout">Выйти</a>
    </div>
</div>
<div th:fragment="scripts">
    <script type="text/javascript" src="/js/dropdown.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
</div>
</body>
</html>