<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerfiles">
</head>
<head>
</head>
<style>
    .message {
        font-size: 20px;
    }

    .error {
        font-size: 20px;
        color: red;
    }
</style>
<body>
<div class="wrapper">
    <div th:if="${message}" th:text="${message}" class="message">
        Some message here
    </div>
    <div th:if="${error}" th:text="${error}" class="error">
        Some error here
    </div>
    <div>
        <a th:if="${go_home}" href="/">Back to home page</a>
        <a th:if="${go_login}" href="/login">Please, login with your credentialse</a>
        <a th:if="${go_profile}" href="/login">Go to profile page</a>
    </div>
</div>
</body>
</html>