@charset "UTF-8";

.content {
    background: #f1f1f1;
}

.items {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}


.item {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 10px;
    margin: 10px;
    min-width: 43%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.item textarea {
    font-size: 15px;
    width: 90%;
    resize: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    background: #f1f1f1;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: lightgray;
}

.menu a {
    display: block;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    color: white;
    background-color: #4CAF50;
}

.search-container {
    float: right;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    outline: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

textarea {
    border: none;
    outline: none;
}
