@charset "UTF-8";

.container-2 {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	border: 1px solid rgb(0, 0, 0);
}

.item {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	border: 1px solid rgb(0, 0, 0);
	padding: 10px;
	margin: 10px;
	min-width: 43%;
}

.container-3 {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
	font-size: 20px;
}

.item textarea {
	font-size: 15px;
	width: 90%;
	resize: none;
}