/* Style page content */

body {
    background-color: #f1f1f1;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

textarea {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
    width: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    left: 0;
    width: 100%;
    padding: 16px;
    margin-top: 30px;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: cadetblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.topnav a {
    display: block;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.topnav a:hover {
    background-color: darkcyan;
}

.row_block {
    display: flex;
    flex-direction: row;
}

.column_block {
    display: flex;
    flex-direction: column;
}

/* Dropdown menu*/
.dropbtn {
    background-color: cadetblue;
    width: 200px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: cadetblue;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: darkcyan;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: darkcyan;
}

.wrapper {
    margin: auto;
    margin-top: 50px;
    background-color: white;
    width: 500px;
    min-height: 200px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page {
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    padding-top: 30px;
    padding-left: 40px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 1000px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    align-items: center;
    position: sticky;
    top: 50px;
    width: 100%;
    background: white;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

textarea.text {
    border: 1px solid #cccccc;
    margin: 10px;
    padding: 8px;
    width: 90%;
    height: 200px;
    resize: none;
    outline: none;
}

.btn1 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
}

.btn1:hover {
    background-color: #429144;
}