@charset "UTF-8";

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: dodgerblue;
}

.box {
    display: flex;
    flex-direction: row;
}

.navbar a {
    display: block;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar a:hover {
    background-color: rgb(0, 104, 208);
}